{% extends "templates/base.html" %}
{% block content %}
  <div class="row">
    <div class="columns large-6">
      <h1>Pages</h1>
      <table>
        <tr><th>Name</th><th>Type</th><th>Menu</th></tr>
        <tr><td>Home</td><td>Splash</td><td>-</td></tr>
        <tr><td>Illustration</td><td>Gallery</td><td>Work</td><td>gear</td></tr>
        <tr><td>Store</td><td>Link</td><td>Shop</td></tr>
      </table>
      <h1>Image Tags</h1>
    </div>

    <div class="columns large-6">
      <h1>Images</h1>

    </div>
  </div>
{% endblock %}
