{% extends "templates/base.html" %}
{% block content %}

  <div style="display: none" id="remove-menu-dialog">
    Are you sure you want to delete the menu "<span data-bind='text: name'></span>"?  <br/>
    <button class="alert tiny" data-bind="click: remove">Yes, delete it</button>
  </div>

  <div style="display: none" id="edit-menu-dialog">
    <div class="row">
      <div class="large-12 columns">
        <label>Name</label>
        <input placeholder="(menu name)" data-bind="value: name"></input>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="large-12 columns">
        <button class="alert tiny" data-bind="click: remove, visible: editMode">Delete Menu</button>
      </div>
    </div>
  </div>

  <div style="display: none" id="edit-page-dialog">
    <div class="row">
      <div class="large-12 columns">
        <label>Name</label>
        <input placeholder="(page name)" data-bind="value: name"></input>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="large-12 columns">
        <button class="alert tiny" data-bind="click: remove, visible: editMode">Delete Page</button>
      </div>
    </div>

  </div>

  <div id="main-content" class="row">
    <div class="columns large-8">
      <h5>Menu/Page Hierarchy</h5>
      <div data-bind="foreach: menus">
        <table style="float: left;">
          <tr><th data-bind="text: 'Menu: ' + name">Name</th></tr>

          <tbody class="droppable" data-bind="sortable: { data: pages, afterMove: orderChanged }">
            <tr><td class="clickable" data-bind="click: $parent.editMenu"><i class="foundicon-settings" onclick="" title="rename menu"></i> <span data-bind="text: $data.title"></td></tr>
          </tbody>

          <tr><td><button class="tiny" data-bind="click: newPage">New Page</button></td></tr>
        </table>
      </div>
      <button style="display: inline-block">New Menu</button>
    </div>

    <div class="columns large-2">
      <h5>Pages</h5>
      <table>
        <thead>
          <tr><th>Name</th><th>Type</th><th>Menu</th></tr>
        </thead>

        <tfoot>
          <tr><td colspan="3"><button class="tiny" data-bind="click: newPage"><i class="foundicon-plus"></i> New Page</button></td></tr>
        </tfoot>
      </table>
    </div>
  </div>
{% endblock %}

{% block page-scripts %}
{% script "/js/admin.js" %}
{% script "/libs/knockout-sortable-0.9.3/knockout-sortable.js" %}
{% endblock %}

